{% extends 'myapp/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>


            {% block navbar %}
            




                <main>


                    <div class="container">


                        <div class="panel panel-default">

                        

                            <div class="panel panel-heading">

                                <h2>{{article.title}}</h2>

                            </div>

                            <div class="panel panel-body">

                                <h5>

                                    {{article.context}}

                                </h5>


                            </div>

                            <div class="panel panel-footer">
                                
                                <h2 style="text-align:right">发布者（转载者|创作者):<a href="">{{article.aemail.username}}</a></h2>

                            </div>




                        </div>





                    </div>


                </main>


            {% endblock navbar %}
        













</body>
</html>