{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <script src=" {% static 'myapp/js/bootstrap.min.js' %}"></script>
    <title>Document</title>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-default navbar-top">

            <div class="nav navbar-text"><h3>王浩个人简历</h3></div>

        </nav>

    </div>



    <div class="container"> 

        

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">个人基本信息</div>
                <div class="panel-body">
                  <p>...</p>
                </div>
              
                <!-- Table -->
                <table class="table">
                  <tr>
                    <th>姓名:</th>
                    <td>王浩</td>
                  </tr>

                  <tr>
                    <th>年龄:</th>
                    <td>18</td>
                  </tr>

                <tr>

                    <th>邮箱:</th>
                    <td>1969126372@qq.com</td>
                </tr>

                <tr>
                    <th>户籍:</th>
                    <td>安徽</td>
                </tr>


                <tr>    
                    <th>目前状态:</th>
                    <td>在校</td>
                    
                </tr>

                <tr>
                    <th>所在地点:</th>
                    <td>合肥</td>
                </tr>

                <tr>
                    <th>期望职位:</th>
                    <td>实习生</td>
                </tr>


                </table>
              </div>

              




    </div>


    <div class="container">

            <div class="panel panel-default">
                    <!-- Default panel contents -->

                
                    <div class="panel-heading">个人能力概述</div>



                       <div class="progress">
                            <div  class="progress-bar progress-bar-striped active" style="width:40%">

                                bootstarp:40%


                            </div>


                        </div>

                        <br/>
                    
                        <div class="progress">
                            
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:68%">

                               mysql: 68%

                            </div>
                           
                        </div>

                        <br/>

                        <div class="progress">
                            
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:33.3%">

                               css & html & js :33.3%

                            </div>
                           
                        </div>
                        
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:49.9%">

                                   django:49.9%
    
                                </div>
                               
                            </div>
                            
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:49.9%">
    
                                   python:49.9%
    
                                </div>
                               
                            </div>
                            
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:51%">
    
                                   ubuntu & centos 使用：49%
    
                                </div>
                               
                            </div>
                            
                        <br/>


                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:66.6%">
    
                                   selenium & pyquery & request : 66.6%
    
                                </div>
                               
                            </div>
                            
                        <br/>



                        
                    

            </div>

    </div>

   
    
  

    <div class="container">
        

        
            


        <div class="panel panel-default">
            <div class="panel-heading">个人经历</div>

            <h1 >初中接触fan墙，开始搭建shadowsocks(ss),shadowsocksR(ssr),这是我最初接触centos,ubuntu等linux系统，之后开始搭建wordprees,discuz,购买域名，域名解析！</h1>
            <h1 >之后由于无法了更多的技术性知识，自学了一点c与c++,但由于枯燥无味成型过慢,就逐步放弃了！</h1>
            <h1>于是我就与Python结下了不解之缘, 不得不承认Python是一门强大的语言,网站,爬虫,机械学习,服务器运维......而我对它的了解却是那么肤浅</h1>
            <h1>之后就是兴趣的原由学习了网络爬虫，遗憾的是一直没有学习大名鼎鼎的scarpy 框架,但基本的requests,selenium,pyquery还是一知半解的，爬爬淘宝，和某些不入流的网站还是轻而易举</h1>
            <h1>接着就说说中途发生的炒币经历，上半年比特币大涨,我也投身于大潮,化身一名小韭菜。由于EOS(柚子)的先例，且本身资金的限制，我更热衷炒那些价格低廉却又有市场前景的币，讲白了一个穷字！起初收益还算可以，之后就如马克吐温所说：股市最危险的月份是10月，以及3月、5月、8月、12月、9月、11月、2月、4月、6月、7月和1月，币市不过如此！正当所有人看好区块链技术时,突如其来的大跌（可能是当时开会出台关于虚拟货币的政策所导致的）,以比特币为首的大部分货币都陷入大跌的僵局，无可奈何之下抛出手中所剩的币，结束了韭菜生涯！</h1>
            <h1>炒币失败的事我并没有放在心上，我觉得失败并没什么可怕,重要的积累经验。我是一个自学的人,可能我真的是比较笨吧,有些问题没人教授,遇到突如其来的问题也只能查资料,有时在电脑前研究就是一整天，但解决了问题真的很开心！</h1>
            <h1>最后就说说这个网站吧！以前我建站无非是wordprees，discuz源码直接搞搞就出来了,但是我一直想写一个自己的网站,这就让我接触了django框架，url分发与ORM的设计使网站开发变得特别轻松（沉浸在自己的世界）</h1>
            <h1>后端django,由于之前的pyquery 和 selenium 使我对css选择器/dom元素/jquery等有一定的了解，我简单的看一下html css 和 jquery(javascript的一个库),就开始写了一个网站雏形,我一度对自己的审美观产生怀疑！四处搜寻,我发现了bootstarp框架，优点简介优雅，响应式容器!</h1>
            
        </div>





    </div>   





    <div class="container">
        

        
            


            <div class="panel panel-default">
                <div class="panel-heading">自我介绍</div>
                <div class="media-body">
                        <h3 class="media-heading" style="text-align:center">自我介绍</h3>
                        <h4 style="text-align:center">说说我的个人爱好:看看动漫，打打游戏，也就写写代码！书的话就克苏鲁神话....</h4>
                        <h4 style="text-align:center">谈谈我的性格：我觉得我可能是个比较内敛的人(对外)，但能服从组织安排,优先维护集体利益</h4>
                        <h4 style="text-align:center">对工作的期望:希望能在工作中得到锻炼，提升自己的能力！</h4>
                        <h4 style="text-align:center">对未来的憧憬:解决生活所需后，多做点有社会意义的事！</h4>
                        <h4 style="text-align:center">梦想可以的话就当个慈善家吧！</h4>
                        <h4 style="text-align:center">说完上面的一大串,您肯定觉得不咋地,因为我的侧重点一直都在写我的学习编程经历！的确与其说我喜欢编程不如说我更喜欢技术！我不知道看到这份简历的是不是电商公司，若作横向对比厉害的人比比皆是,纵向对比下我也可能只是田忌赛马里的中等马,但不想做元帅的士兵不是好士兵!</h4>
                        <h4 style="text-align:center"><STrong > SO , I want to get chance !</STrong></h4>
                      </div>
                
    
            </div>
    
    
    
    
    
        </div>   









</body>
</html>