{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    <script src=" {% static 'myapp/js/bootstrap.min.js' %}"></script>
    <title>Document</title>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-default navbar-top">

            <div class="nav navbar-text"><h3>王浩个人简历</h3></div>

        </nav>

    </div>



    <div class="container"> 

        

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">个人基本信息</div>
                <div class="panel-body">
                  <p>...</p>
                </div>
              
                <!-- Table -->
                <table class="table">
                  <tr>
                    <th>姓名:</th>
                    <td>王浩</td>
                  </tr>

                  <tr>
                    <th>年龄:</th>
                    <td>18</td>
                  </tr>

                <tr>

                    <th>邮箱:</th>
                    <td>1969126372@qq.com</td>
                </tr>

                <tr>
                    <th>户籍:</th>
                    <td>安徽</td>
                </tr>


                <tr>    
                    <th>目前状态:</th>
                    <td>在校</td>
                    
                </tr>

                <tr>
                    <th>所在地点:</th>
                    <td>合肥</td>
                </tr>

                <tr>
                    <th>期望职位:</th>
                    <td>实习生</td>
                </tr>


                </table>
              </div>

              




    </div>


    <div class="container">

            <div class="panel panel-default">
                    <!-- Default panel contents -->

                
                    <div class="panel-heading">个人能力概述</div>



                       <div class="progress">
                            <div  class="progress-bar progress-bar-striped active" style="width:40%">

                                bootstrap:40%


                            </div>


                        </div>

                        <br/>
                    
                        <div class="progress">
                            
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:68%">

                               mysql: 68%

                            </div>
                           
                        </div>

                        <br/>

                        <div class="progress">
                            
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:33.3%">

                               css & html & js :33.3%

                            </div>
                           
                        </div>
                        
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:49.9%">

                                   django:49.9%
    
                                </div>
                               
                            </div>
                            
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:49.9%">
    
                                   python:49.9%
    
                                </div>
                               
                            </div>
                            
                        <br/>

                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:51%">
    
                                   ubuntu & centos 使用：49%
    
                                </div>
                               
                            </div>
                            
                        <br/>


                        <div class="progress">
                            
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:66.6%">
    
                                   selenium & pyquery & request : 66.6%
    
                                </div>
                               
                            </div>
                            
                        <br/>



                        
                    

            </div>

    </div>

   
    
  

    <div class="container">
        

        
            


        <div class="panel panel-default">
            <div class="panel-heading">个人学习经历</div>
            <div class="panel panel-body" style="text-align: left">
                <h4>初中接触fan墙，开始搭建shadowsocks(ss),shadowsocksR(ssr)</h4>
                <h4>之后接触到centos,ubuntu,开始建站(wordpress,discuz),研究域名抢注</h4>
                <h4>自学面向对象编程语言python与网络爬虫(requests,urllib,selenium,pyquery)</h4>
                <h4>炒过数字货币，搭建过H5棋牌</h4>
                <h4>自学前端基础(bootstrap)，与后端django框架！</h4>
                
            </div>
        </div>





    </div>   





    <div class="container">
        

        
            


            <div class="panel panel-default" style="text-align:left">
                <div class="panel-heading">自我介绍</div>
                <div class="panel-body" style="text-align:left">
                        <h4 >个人爱好:看看动漫，打打游戏，也就写写代码！书的话就克苏鲁神话....</h4>
                        <h4 >性格：我觉得我可能是个比较内敛的人(对外)，但能服从组织安排,优先维护集体利益</h4>
                        <h4 >对工作的期望:希望能在工作中得到锻炼，提升自己的能力！</h4>
                        <h4 >对未来的憧憬:解决生活所需后，多做点有社会意义的事！</h4>
                        <h4 >梦想可以的话就当个慈善家吧！</h4>
                        <h4 >说完上面的一大串,您肯定觉得不咋地,因为我的侧重点一直都在写我的学习编程经历(唯一能拿得出手的.....拿出手也只是证明一下自己)！的确与其说我喜欢编程不如说我更喜欢技术！我不知道看到这份简历的是不是电商公司，若作纵向对比我厉害的人比比皆是,横向对比下我也可能只是田忌赛马里的中等马,但不想做元帅的士兵不是好士兵!</h4>
                        <h4 ><STrong > SO , I want to get chance !</STrong></h4>
                      </div>
                
    
            </div>
    
    
    
    
    
        </div>   









</body>
</html>
